# Keil MDK编译临时文件
Objects/
Listings/
*.o
*.d
*.crf
*.hex
*.axf
*.bin
*.map
*.dep
*.lnp
*.sct
*.lst
*.iex
*.htm
*.build_log.htm

# Keil 用户特定文件
*.uvguix
*.nebula
*.dbgconf

# 训练资料
综合训练资料/

# 系统垃圾文件
.DS_Store
__pycache__
